#Extentions
*.bak
*.exe*
*.out
*.gch
*.OBJ
*.Q
*.log
*.o
*.err
*.lst
*.record

#Watcom
cw.tgt
cw.wpj
cw.sym
cw.mk1
cw.mk
cw.lk1

#Folders
dosbox/HD/
.vs/
visual studio/
bin/
.idea/
src/prototypes/

#App map
src/CW.MAP

utilities/resources/
utilities/CGA.py