#Extentions
*.bak
*.exe*
*.out
*.gch
*.OBJ
*.Q
*.log
*.o
*.err

#Watcom
cw.tgt
cw.wpj
cw.sym
cw.mk1
cw.mk
cw.lk1

#Folders
dosbox/HD/
.vs/
visual studio/
.vscode/

#Game Files
src/CTRLS
src/TITLEPIX
src/CASTLE
src/PRESSER
src/VOCAB
src/WOLF.CHR
src/BACKUP
src/DEMOFILE
src/SEKTOR
src/DEMODATA

