#Extentions
*.bak
*.exe*
*.out
*.gch
*.OBJ
*.Q
*.log
*.o
*.err

#Watcom
cw.tgt
cw.wpj
cw.sym
cw.mk1
cw.mk
cw.lk1

#Folders
dosbox/HD/
.vs/
visual studio/
.vscode/

#App map
src/CW.MAP

#Game Files
bin/

